In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import os

In [2]:
#reading in ipynb files
inc = pd.read_csv('../../data/tidy/data-aggregation-income.csv')
trf = pd.read_csv('../../data/tidy/data-aggregation-trf.csv')
mod = pd.read_csv('../../data/tidy/data-aggregation-ms.csv')
pop = pd.read_csv('../../data/tidy/data-aggregation-pop.csv')
net = pd.read_csv('../../data/tidy/data-aggregation-networkstats.csv')
cfc = pd.read_csv('../../data/tidy/data-aggregation-carbonfootprint_msa.csv')

In [3]:
trf.head()

,Geographic Area Name,Year,Auto,Annual Excess Fuel Consumed,Annual Hours of Delay,Travel Time Index,Freeway,Truck-based Statistics,Arterial Street
0,"Akron, OH",2014.0,298,6453,14470,1.11,5703.0,608,4460.0
1,"Albany-Schenectady, NY",2014.0,300,5172,13605,1.14,7273.0,690,5623.0
2,"Albuquerque, NM",2014.0,380,8950,18864,1.15,5500.0,909,7887.0
3,"Allentown, PA-NJ",2014.0,329,5627,13837,1.14,5599.0,513,5199.0
4,"Anchorage, AK",2014.0,137,2595,6193,1.17,1415.0,172,2240.0

In [4]:
net.head()

,Geographic Area Name,n,m,k_avg,edge_length_total,edge_length_avg,streets_per_node_avg,intersection_count,street_length_total,street_segment_count,street_length_avg,circuity_avg,self_loop_proportion,node_density_km,intersection_density_km,edge_density_km,street_density_km,builing_area_sqkm,area_sqkm
0,"Abilene, TX",14357,39401,5.488751,1.716897e+07,435.749497,2.881452,11912,8.925436e+06,20606,433.147439,1.067840,0.004465,2.012523,1.669790,2406.696840,1251.142264,7.048505,7133.829924
1,"Albany, GA",8466,22838,5.395228,9.545102e+06,417.948256,2.837468,6957,4.989593e+06,11954,417.399446,1.052833,0.002928,2.028965,1.667318,2287.583389,1195.808038,6.979580,4172.570196
2,"Akron, OH",26865,70900,5.278243,1.519199e+07,214.273426,2.756896,21200,8.039295e+06,36980,217.395754,1.056240,0.015089,11.231303,8.862967,6351.230011,3360.943838,14.307097,2391.975398
3,"Albany-Lebanon, OR",7132,17906,5.021312,8.280294e+06,462.431276,2.568144,5101,4.225439e+06,9147,461.948061,1.150205,0.005466,1.193324,0.853498,1385.456359,706.999160,7.519705,5976.582645
4,"Albany-Schenectady-Troy, NY",36977,96867,5.239311,2.787244e+07,287.739291,2.755794,30254,1.455542e+07,50900,285.961192,1.091565,0.033320,4.962653,4.060365,3740.737967,1953.471821,41.455466,7451.054339

In [5]:
inc.head()

,Geographic Area Name,Total!!Estimate!!Households,Median income (dollars)!!Estimate!!Households
0,"Abilene, TX",60343,44249
1,"Aguadilla-Isabela, PR",109620,15681
2,"Akron, OH",281752,50776
3,"Albany, GA",58250,36805
4,"Albany, OR",44942,44965

In [6]:
df = inc.merge(mod, left_on='Geographic Area Name', right_on='Geographic Area Name', how='left')

In [7]:
df = df.merge(pop, left_on='Geographic Area Name', right_on='Geographic Area Name', how='left')

In [8]:
df = df.merge(trf, left_on='Geographic Area Name', right_on='Geographic Area Name', how='left')

In [9]:
df.head()

,Geographic Area Name,Total!!Estimate!!Households,Median income (dollars)!!Estimate!!Households,ms_cara_pct,ms_carp_pct,ms_pt_pct,ms_taxi_pct,ms_bike_pct,ms_walk_pct,ms_wfh_pct,...,Employed!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level,Unemployment rate!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level,Year,Auto,Annual Excess Fuel Consumed,Annual Hours of Delay,Travel Time Index,Freeway,Truck-based Statistics,Arterial Street
0,"Abilene, TX",60343,44249,0.806459,0.117276,0.006420,0.017641,0.002089,0.024034,0.026081,...,41.7,19.6,2014.0,62.0,788.0,1694.0,1.06,NaN,93.0,NaN
1,"Aguadilla-Isabela, PR",109620,15681,0.841606,0.083801,0.003571,0.003961,0.001870,0.042219,0.022973,...,23.4,44.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Akron, OH",281752,50776,0.862746,0.066992,0.014979,0.005027,0.001327,0.016849,0.032080,...,38.2,33.3,2014.0,298.0,6453.0,14470.0,1.11,5703.0,608.0,4460.0
3,"Albany, GA",58250,36805,0.804208,0.123413,0.010765,0.007939,0.001490,0.019618,0.032567,...,29.6,41.1,2014.0,53.0,810.0,1752.0,1.07,NaN,93.0,NaN
4,"Albany, OR",44942,44965,0.773648,0.112044,0.005838,0.011126,0.013241,0.023035,0.061067,...,33.9,30.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df = df.merge(net, left_on='Geographic Area Name', right_on='Geographic Area Name', how='left')

In [11]:
df.head()

,Geographic Area Name,Total!!Estimate!!Households,Median income (dollars)!!Estimate!!Households,ms_cara_pct,ms_carp_pct,ms_pt_pct,ms_taxi_pct,ms_bike_pct,ms_walk_pct,ms_wfh_pct,...,street_segment_count,street_length_avg,circuity_avg,self_loop_proportion,node_density_km,intersection_density_km,edge_density_km,street_density_km,builing_area_sqkm,area_sqkm
0,"Abilene, TX",60343,44249,0.806459,0.117276,0.006420,0.017641,0.002089,0.024034,0.026081,...,20606.0,433.147439,1.067840,0.004465,2.012523,1.669790,2406.696840,1251.142264,7.048505,7133.829924
1,"Aguadilla-Isabela, PR",109620,15681,0.841606,0.083801,0.003571,0.003961,0.001870,0.042219,0.022973,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Akron, OH",281752,50776,0.862746,0.066992,0.014979,0.005027,0.001327,0.016849,0.032080,...,36980.0,217.395754,1.056240,0.015089,11.231303,8.862967,6351.230011,3360.943838,14.307097,2391.975398
3,"Albany, GA",58250,36805,0.804208,0.123413,0.010765,0.007939,0.001490,0.019618,0.032567,...,11954.0,417.399446,1.052833,0.002928,2.028965,1.667318,2287.583389,1195.808038,6.979580,4172.570196
4,"Albany, OR",44942,44965,0.773648,0.112044,0.005838,0.011126,0.013241,0.023035,0.061067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
cfc.head()

,Geographic Area Name,electricity (kWh),Nat. Gas (cu.ft.),FUELOIL (gallons),Vehicle miles traveled,Transport (tCO2e/yr),Housing (tCO2e/yr),Food (tCO2e/yr),Goods (tCO2e/yr),Services (tCO2e/yr),Total Household Carbon Footprint (tCO2/yr),Households,Total County Carbon Footprint (tCO2e/yr)
0,"Abilene, TX",92962.405965,277549.286226,220.478974,192265.733198,15.657754,13.480262,7.577231,4.540864,4.916275,46.172386,100690.0,4.649098e+06
1,"Akron, OH",54339.405962,290058.947004,124.833129,115371.753755,15.995618,12.539551,7.604762,5.563126,6.291286,47.994344,227621.0,1.181086e+07
2,"Albany, GA",57568.441526,177636.355916,45.432009,115472.584515,13.906133,14.077966,7.783972,4.548862,4.895082,45.212014,54985.0,2.485983e+06
3,"Albany-Schenectady-Troy, NY",44665.027903,285972.599847,1181.765702,125086.186971,14.217611,10.902159,7.202424,5.309082,6.006795,43.638071,407208.0,1.776977e+07
4,"Albuquerque, NM",49890.513214,147251.735865,4.024810,101942.760602,15.594705,13.531895,7.775563,5.051710,5.576700,47.530572,305713.0,1.453071e+07

In [13]:
df = df.merge(cfc, left_on='Geographic Area Name', right_on='Geographic Area Name', how='left')

In [14]:
df.head()

,Geographic Area Name,Total!!Estimate!!Households,Median income (dollars)!!Estimate!!Households,ms_cara_pct,ms_carp_pct,ms_pt_pct,ms_taxi_pct,ms_bike_pct,ms_walk_pct,ms_wfh_pct,...,FUELOIL (gallons),Vehicle miles traveled,Transport (tCO2e/yr),Housing (tCO2e/yr),Food (tCO2e/yr),Goods (tCO2e/yr),Services (tCO2e/yr),Total Household Carbon Footprint (tCO2/yr),Households,Total County Carbon Footprint (tCO2e/yr)
0,"Abilene, TX",60343,44249,0.806459,0.117276,0.006420,0.017641,0.002089,0.024034,0.026081,...,220.478974,192265.733198,15.657754,13.480262,7.577231,4.540864,4.916275,46.172386,100690.0,4.649098e+06
1,"Aguadilla-Isabela, PR",109620,15681,0.841606,0.083801,0.003571,0.003961,0.001870,0.042219,0.022973,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Akron, OH",281752,50776,0.862746,0.066992,0.014979,0.005027,0.001327,0.016849,0.032080,...,124.833129,115371.753755,15.995618,12.539551,7.604762,5.563126,6.291286,47.994344,227621.0,1.181086e+07
3,"Albany, GA",58250,36805,0.804208,0.123413,0.010765,0.007939,0.001490,0.019618,0.032567,...,45.432009,115472.584515,13.906133,14.077966,7.783972,4.548862,4.895082,45.212014,54985.0,2.485983e+06
4,"Albany, OR",44942,44965,0.773648,0.112044,0.005838,0.011126,0.013241,0.023035,0.061067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
len(df.columns)

89

In [16]:
### Create empty dataframe with ACS MSA names as index:
#ms_df = pd.DataFrame(index = mods_df.index)

In [17]:
# setting the path for joining multiple files
#files = os.path.join('../csv', '*.csv')

# list of merged files returned
#files = glob.glob(files)

# joining files with concat and read_csv
#df = pd.concat(map(pd.read_csv, files), ignore_index=True)
#print(df)

In [18]:
# merging csv files based on MSA
#output1 = ems1.merge(ems2, on=["Geographic Area Name"])
#output2 = pd.merge(inc, trf, on= 'Geographic Area Name', how= 'inner')
#output3 = pd.merge(ems3, data4, on= 'NAME', how= 'inner')

In [19]:
# saving csv
from pathlib import Path  
filepath = Path('../../data/tidy/data-aggregation.csv', index = False)  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)
#df.to_csv('data-aggregation.csv', index = False)