In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
### Data input

mods_df = pd.read_csv('../../data/raw/ACSDT5Y2020.B08006_data_with_overlays_2022-04-29T134131.csv', skiprows=1) # modeshares (for commuting)

In [3]:
len(mods_df)
mods_df.head()

,Estimate!!Total:,Margin of Error!!Total:,"Estimate!!Total:!!Car, truck, or van:","Margin of Error!!Total:!!Car, truck, or van:","Estimate!!Total:!!Car, truck, or van:!!Drove alone","Margin of Error!!Total:!!Car, truck, or van:!!Drove alone","Estimate!!Total:!!Car, truck, or van:!!Carpooled:","Margin of Error!!Total:!!Car, truck, or van:!!Carpooled:","Estimate!!Total:!!Car, truck, or van:!!Carpooled:!!In 2-person carpool","Margin of Error!!Total:!!Car, truck, or van:!!Carpooled:!!In 2-person carpool",...,Estimate!!Total:!!Female:!!Bicycle,Margin of Error!!Total:!!Female:!!Bicycle,Estimate!!Total:!!Female:!!Walked,Margin of Error!!Total:!!Female:!!Walked,"Estimate!!Total:!!Female:!!Taxicab, motorcycle, or other means","Margin of Error!!Total:!!Female:!!Taxicab, motorcycle, or other means",Estimate!!Total:!!Female:!!Worked from home,Margin of Error!!Total:!!Female:!!Worked from home,id,Geographic Area Name
0,22313,608,19845,681,18137,627,1708,304,1184,247,...,13,19,369,165,84,63,606,178,310M600US10100,"Aberdeen, SD Micro Area"
1,27878,921,24406,906,21742,904,2664,445,2286,420,...,48,73,482,171,86,58,841,226,310M600US10140,"Aberdeen, WA Micro Area"
2,78892,1212,70902,1185,62386,1279,8516,812,6386,751,...,36,51,775,274,188,72,2540,401,310M600US10180,"Abilene, TX Metro Area"
3,16840,462,15773,501,14185,519,1588,240,1266,203,...,4,6,215,89,31,32,135,59,310M600US10220,"Ada, OK Micro Area"
4,43541,725,39917,791,36533,840,3384,406,2547,367,...,91,79,629,165,41,31,705,173,310M600US10300,"Adrian, MI Micro Area"

In [4]:
mods_df.columns

Index(['Estimate!!Total:', 'Margin of Error!!Total:',
       'Estimate!!Total:!!Car, truck, or van:',
       'Margin of Error!!Total:!!Car, truck, or van:',
       'Estimate!!Total:!!Car, truck, or van:!!Drove alone',
       'Margin of Error!!Total:!!Car, truck, or van:!!Drove alone',
       'Estimate!!Total:!!Car, truck, or van:!!Carpooled:',
       'Margin of Error!!Total:!!Car, truck, or van:!!Carpooled:',
       'Estimate!!Total:!!Car, truck, or van:!!Carpooled:!!In 2-person carpool',
       'Margin of Error!!Total:!!Car, truck, or van:!!Carpooled:!!In 2-person carpool',
       ...
       'Estimate!!Total:!!Female:!!Bicycle',
       'Margin of Error!!Total:!!Female:!!Bicycle',
       'Estimate!!Total:!!Female:!!Walked',
       'Margin of Error!!Total:!!Female:!!Walked',
       'Estimate!!Total:!!Female:!!Taxicab, motorcycle, or other means',
       'Margin of Error!!Total:!!Female:!!Taxicab, motorcycle, or other means',
       'Estimate!!Total:!!Female:!!Worked from home',
       'Margin of Error!!Total:!!Female:!!Worked from home', 'id',
       'Geographic Area Name'],
      dtype='object', length=104)

In [5]:
#pop_df.loc[: , (pop_df != 'Margin of Error').all()]
filtered_cols = [col for col in mods_df.columns if 'Margin of Error' not in col]
filtered_cols = [col for col in filtered_cols if 'Male' not in col]
filtered_cols = [col for col in filtered_cols if 'Female' not in col]
filtered_cols

['Estimate!!Total:',
 'Estimate!!Total:!!Car, truck, or van:',
 'Estimate!!Total:!!Car, truck, or van:!!Drove alone',
 'Estimate!!Total:!!Car, truck, or van:!!Carpooled:',
 'Estimate!!Total:!!Car, truck, or van:!!Carpooled:!!In 2-person carpool',
 'Estimate!!Total:!!Car, truck, or van:!!Carpooled:!!In 3-person carpool',
 'Estimate!!Total:!!Car, truck, or van:!!Carpooled:!!In 4-or-more-person carpool',
 'Estimate!!Total:!!Public transportation (excluding taxicab):',
 'Estimate!!Total:!!Public transportation (excluding taxicab):!!Bus',
 'Estimate!!Total:!!Public transportation (excluding taxicab):!!Subway or elevated rail',
 'Estimate!!Total:!!Public transportation (excluding taxicab):!!Long-distance train or commuter rail',
 'Estimate!!Total:!!Public transportation (excluding taxicab):!!Light rail, streetcar or trolley (carro público in Puerto Rico)',
 'Estimate!!Total:!!Public transportation (excluding taxicab):!!Ferryboat',
 'Estimate!!Total:!!Bicycle',
 'Estimate!!Total:!!Walked',
 'Estimate!!Total:!!Taxicab, motorcycle, or other means',
 'Estimate!!Total:!!Worked from home',
 'id',
 'Geographic Area Name']

In [6]:
mods_df = mods_df.filter(filtered_cols)
mods_df = mods_df.set_index('Geographic Area Name')
mods_df = mods_df.filter(like="Metro Area", axis=0)
mods_df.index = mods_df.index.str.replace(' Metro Area', '')

In [7]:
# def tidy_acs_df(df):
#     #....
#     return(df)

In [8]:
#mods_df = tidy_acs_df(pop_df)

In [9]:
#inc_df = tidy_acs_df(inc_df)

In [10]:
mods_df

,Estimate!!Total:,"Estimate!!Total:!!Car, truck, or van:","Estimate!!Total:!!Car, truck, or van:!!Drove alone","Estimate!!Total:!!Car, truck, or van:!!Carpooled:","Estimate!!Total:!!Car, truck, or van:!!Carpooled:!!In 2-person carpool","Estimate!!Total:!!Car, truck, or van:!!Carpooled:!!In 3-person carpool","Estimate!!Total:!!Car, truck, or van:!!Carpooled:!!In 4-or-more-person carpool",Estimate!!Total:!!Public transportation (excluding taxicab):,Estimate!!Total:!!Public transportation (excluding taxicab):!!Bus,Estimate!!Total:!!Public transportation (excluding taxicab):!!Subway or elevated rail,Estimate!!Total:!!Public transportation (excluding taxicab):!!Long-distance train or commuter rail,"Estimate!!Total:!!Public transportation (excluding taxicab):!!Light rail, streetcar or trolley (carro público in Puerto Rico)",Estimate!!Total:!!Public transportation (excluding taxicab):!!Ferryboat,Estimate!!Total:!!Bicycle,Estimate!!Total:!!Walked,"Estimate!!Total:!!Taxicab, motorcycle, or other means",Estimate!!Total:!!Worked from home,id
Geographic Area Name,,,,,,,,,,,,,,,,,,
"Abilene, TX",78892,70902,62386,8516,6386,1095,1035,467,464,0,0,0,3,200,1737,606,4980,310M600US10180
"Aguadilla-Isabela, PR",78691,72749,65218,7531,5024,1786,721,366,131,50,19,74,92,273,2228,674,2401,310M600US10380
"Akron, OH",344203,309068,284695,24373,18750,3193,2430,3650,3593,11,0,34,12,349,5249,2254,23633,310M600US10420
"Albany, GA",60516,55369,48833,6536,4865,1184,487,561,557,0,0,4,0,96,1086,838,2566,310M600US10500
"Albany-Lebanon, OR",55483,49876,44243,5633,4326,788,519,71,51,4,14,2,0,316,1067,718,3435,310M600US10540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Yauco, PR",21218,19668,18952,716,584,121,11,157,68,0,0,14,75,25,389,498,481,310M600US49500
"York-Hanover, PA",221407,201614,183722,17892,14907,2125,860,1702,1568,35,75,24,0,528,3104,1704,12755,310M600US49620
"Youngstown-Warren-Boardman, OH-PA",232682,212036,195250,16786,12621,1905,2260,2262,2184,14,27,37,0,178,3667,3265,11274,310M600US49660
"Yuba City, CA",70868,64345,55950,8395,5374,1753,1268,579,554,6,19,0,0,188,905,701,4150,310M600US49700
"Yuma, AZ",81019,73920,63937,9983,6567,1934,1482,1436,1406,0,28,2,0,244,1592,988,2839,310M600US49740

In [11]:
mods_df['Estimate!!Total:!!Car, truck, or van:!!Drove alone']/mods_df['Estimate!!Total:']

Geographic Area Name
Abilene, TX                          0.790777
Aguadilla-Isabela, PR                0.828786
Akron, OH                            0.827114
Albany, GA                           0.806944
Albany-Lebanon, OR                   0.797415
                                       ...
Yauco, PR                            0.893204
York-Hanover, PA                     0.829793
Youngstown-Warren-Boardman, OH-PA    0.839128
Yuba City, CA                        0.789496
Yuma, AZ                             0.789161
Length: 392, dtype: float64

In [12]:
### Create empty dataframe with ACS MSA names as index:
ms_df = pd.DataFrame(index = mods_df.index)

In [13]:
ms_df.insert(loc = 0, column = 'ms_cara_pct', value = mods_df['Estimate!!Total:!!Car, truck, or van:!!Drove alone']/mods_df['Estimate!!Total:'])
ms_df.insert(loc = 1, column = 'ms_carp_pct', value = mods_df['Estimate!!Total:!!Car, truck, or van:!!Carpooled:']/mods_df['Estimate!!Total:'])
ms_df.insert(loc = 2, column = 'ms_pt_pct', value = mods_df['Estimate!!Total:!!Public transportation (excluding taxicab):']/mods_df['Estimate!!Total:'])
ms_df.insert(loc = 3, column = 'ms_taxi_pct', value = mods_df['Estimate!!Total:!!Taxicab, motorcycle, or other means']/mods_df['Estimate!!Total:'])
ms_df.insert(loc = 4, column = 'ms_bike_pct', value = mods_df['Estimate!!Total:!!Bicycle']/mods_df['Estimate!!Total:'])
ms_df.insert(loc = 5, column = 'ms_walk_pct', value = mods_df['Estimate!!Total:!!Walked']/mods_df['Estimate!!Total:'])
ms_df.insert(loc = 6, column = 'ms_wfh_pct', value = mods_df['Estimate!!Total:!!Worked from home']/mods_df['Estimate!!Total:'])

In [14]:
ms_df.sum(axis=1)

Geographic Area Name
Abilene, TX                          1.0
Aguadilla-Isabela, PR                1.0
Akron, OH                            1.0
Albany, GA                           1.0
Albany-Lebanon, OR                   1.0
                                    ...
Yauco, PR                            1.0
York-Hanover, PA                     1.0
Youngstown-Warren-Boardman, OH-PA    1.0
Yuba City, CA                        1.0
Yuma, AZ                             1.0
Length: 392, dtype: float64

In [15]:
mods_df.to_csv('data-aggregation-modeshares.csv', index = False)