In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import os

In [2]:
#reading in ipynb files
inc = pd.read_csv('../../data/tidy/data-aggregation-income.csv')
trf = pd.read_csv('../../data/tidy/tti-traffic.csv')
mod = pd.read_csv('../../data/tidy/data-aggregation-ms.csv')
unemp = pd.read_csv('../../data/tidy/acs-unemp.csv')
net = pd.read_csv('../../data/tidy/data-aggregation-networkstats.csv')
cfc = pd.read_csv('../../data/tidy/msa-carbon-footprint.csv')

In [3]:
trf.head()

,msa,auto_commuters,annual_excess_fuel_consumed_commuters,ahd,tti,dvmt_freeway,ahd_truck,vmt_arterial
0,"Akron, OH",298,6453,14470,1.11,5703.0,608,4460.0
1,"Albany-Schenectady, NY",300,5172,13605,1.14,7273.0,690,5623.0
2,"Albuquerque, NM",380,8950,18864,1.15,5500.0,909,7887.0
3,"Allentown, PA-NJ",329,5627,13837,1.14,5599.0,513,5199.0
4,"Anchorage, AK",137,2595,6193,1.17,1415.0,172,2240.0

In [4]:
unemp.head()

                     msa  unemp
0            Abilene, TX    6.4
1  Aguadilla-Isabela, PR   25.2
2              Akron, OH    9.7
3             Albany, GA   15.0
4             Albany, OR   11.2

In [5]:
net.head()

,msa,n,m,k_avg,edge_length_total,edge_length_avg,streets_per_node_avg,intersection_count,street_length_total,street_segment_count,street_length_avg,circuity_avg,self_loop_proportion,node_density_km,intersection_density_km,edge_density_km,street_density_km,builing_area_sqkm,area_sqkm
0,"Abilene, TX",14357,39401,5.488751,1.716897e+07,435.749497,2.881452,11912,8.925436e+06,20606,433.147439,1.067840,0.004465,2.012523,1.669790,2406.696840,1251.142264,7.048505,7133.829924
1,"Albany, GA",8466,22838,5.395228,9.545102e+06,417.948256,2.837468,6957,4.989593e+06,11954,417.399446,1.052833,0.002928,2.028965,1.667318,2287.583389,1195.808038,6.979580,4172.570196
2,"Akron, OH",26865,70900,5.278243,1.519199e+07,214.273426,2.756896,21200,8.039295e+06,36980,217.395754,1.056240,0.015089,11.231303,8.862967,6351.230011,3360.943838,14.307097,2391.975398
3,"Albany-Lebanon, OR",7132,17906,5.021312,8.280294e+06,462.431276,2.568144,5101,4.225439e+06,9147,461.948061,1.150205,0.005466,1.193324,0.853498,1385.456359,706.999160,7.519705,5976.582645
4,"Albany-Schenectady-Troy, NY",36977,96867,5.239311,2.787244e+07,287.739291,2.755794,30254,1.455542e+07,50900,285.961192,1.091565,0.033320,4.962653,4.060365,3740.737967,1953.471821,41.455466,7451.054339

In [6]:
inc.head()

                     msa  households  med_hh_inc_dol
0            Abilene, TX       60343           44249
1  Aguadilla-Isabela, PR      109620           15681
2              Akron, OH      281752           50776
3             Albany, GA       58250           36805
4             Albany, OR       44942           44965

In [7]:
df = inc.merge(mod, left_on='msa', right_on='msa', how='left')

In [8]:
df.head()

,msa,households,med_hh_inc_dol,ms_cara,ms_carp,ms_pt,ms_taxi,ms_bike,ms_walk,ms_wfh
0,"Abilene, TX",60343,44249,0.806459,0.117276,0.006420,0.017641,0.002089,0.024034,0.026081
1,"Aguadilla-Isabela, PR",109620,15681,0.841606,0.083801,0.003571,0.003961,0.001870,0.042219,0.022973
2,"Akron, OH",281752,50776,0.862746,0.066992,0.014979,0.005027,0.001327,0.016849,0.032080
3,"Albany, GA",58250,36805,0.804208,0.123413,0.010765,0.007939,0.001490,0.019618,0.032567
4,"Albany, OR",44942,44965,0.773648,0.112044,0.005838,0.011126,0.013241,0.023035,0.061067

In [9]:
df = df.merge(unemp, left_on='msa', right_on='msa', how='left')

In [10]:
df = df.merge(trf, left_on='msa', right_on='msa', how='left')

In [11]:
df.head()

,msa,households,med_hh_inc_dol,ms_cara,ms_carp,ms_pt,ms_taxi,ms_bike,ms_walk,ms_wfh,unemp,auto_commuters,annual_excess_fuel_consumed_commuters,ahd,tti,dvmt_freeway,ahd_truck,vmt_arterial
0,"Abilene, TX",60343,44249,0.806459,0.117276,0.006420,0.017641,0.002089,0.024034,0.026081,6.4,62.0,788.0,1694.0,1.06,NaN,93.0,NaN
1,"Aguadilla-Isabela, PR",109620,15681,0.841606,0.083801,0.003571,0.003961,0.001870,0.042219,0.022973,25.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Akron, OH",281752,50776,0.862746,0.066992,0.014979,0.005027,0.001327,0.016849,0.032080,9.7,298.0,6453.0,14470.0,1.11,5703.0,608.0,4460.0
3,"Albany, GA",58250,36805,0.804208,0.123413,0.010765,0.007939,0.001490,0.019618,0.032567,15.0,53.0,810.0,1752.0,1.07,NaN,93.0,NaN
4,"Albany, OR",44942,44965,0.773648,0.112044,0.005838,0.011126,0.013241,0.023035,0.061067,11.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df = df.merge(net, left_on='msa', right_on='msa', how='left')

In [13]:
df.head()

,msa,households,med_hh_inc_dol,ms_cara,ms_carp,ms_pt,ms_taxi,ms_bike,ms_walk,ms_wfh,...,street_segment_count,street_length_avg,circuity_avg,self_loop_proportion,node_density_km,intersection_density_km,edge_density_km,street_density_km,builing_area_sqkm,area_sqkm
0,"Abilene, TX",60343,44249,0.806459,0.117276,0.006420,0.017641,0.002089,0.024034,0.026081,...,20606.0,433.147439,1.067840,0.004465,2.012523,1.669790,2406.696840,1251.142264,7.048505,7133.829924
1,"Aguadilla-Isabela, PR",109620,15681,0.841606,0.083801,0.003571,0.003961,0.001870,0.042219,0.022973,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Akron, OH",281752,50776,0.862746,0.066992,0.014979,0.005027,0.001327,0.016849,0.032080,...,36980.0,217.395754,1.056240,0.015089,11.231303,8.862967,6351.230011,3360.943838,14.307097,2391.975398
3,"Albany, GA",58250,36805,0.804208,0.123413,0.010765,0.007939,0.001490,0.019618,0.032567,...,11954.0,417.399446,1.052833,0.002928,2.028965,1.667318,2287.583389,1195.808038,6.979580,4172.570196
4,"Albany, OR",44942,44965,0.773648,0.112044,0.005838,0.011126,0.013241,0.023035,0.061067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
cfc.head()

,MSA,pop_2014,electricity_kwh,nat_gas_cuft,fueloil_gal,vmt,hh_2014,cf_transport_phh,cf_housing_phh,cf_food_phh,cf_goods_phh,cf_services_phh,cf_phh,cf,msa
0,"Abilene, TX",160828,35714.088774,98701.118579,1.336685,76234.634771,65492.0,15.927517,12.674110,7.667713,4.616458,5.004892,49.144098,3.218545e+06,0.0
1,"Akron, OH",678301,23257.037633,121455.109113,79.046948,47008.858596,160668.0,15.993913,11.746599,7.517472,5.391050,6.071775,50.968122,8.188946e+06,0.0
2,"Albany, GA",141811,38975.470766,85814.672587,9.162196,72787.504018,57134.0,14.360085,13.990202,7.972296,4.684970,5.050888,46.428323,2.652636e+06,0.0
3,"Albany-Lebanon, OR",108795,11139.121631,36096.695316,18.554493,26802.912183,44491.0,18.007041,10.646117,7.809633,4.995829,5.498125,54.317668,2.416647e+06,0.0
4,"Albany-Schenectady-Troy, NY",820825,36802.454287,233221.913105,1181.335835,103020.435963,392206.0,14.195390,10.778376,7.221763,5.349727,6.058857,47.021127,1.844197e+07,0.0

In [15]:
cfc = cfc.rename(columns = {"MSA": "msa"})

In [16]:
df = df.merge(cfc, left_on='msa', right_on='msa', how='left')

ValueError: The column label 'msa' is not unique.

In [ ]:
df.head()

In [ ]:
len(df.columns)

In [ ]:
df = df.rename(columns = {"msa": "msa"})

In [ ]:
df.head()

In [ ]:
### Create empty dataframe with ACS MSA names as index:
#ms_df = pd.DataFrame(index = mods_df.index)

In [ ]:
# setting the path for joining multiple files
#files = os.path.join('../csv', '*.csv')

# list of merged files returned
#files = glob.glob(files)

# joining files with concat and read_csv
#df = pd.concat(map(pd.read_csv, files), ignore_index=True)
#print(df)

In [ ]:
# merging csv files based on MSA
#output1 = ems1.merge(ems2, on=["Geographic Area Name"])
#output2 = pd.merge(inc, trf, on= 'Geographic Area Name', how= 'inner')
#output3 = pd.merge(ems3, data4, on= 'NAME', how= 'inner')

In [ ]:
df = df.set_index('msa')

In [ ]:
df.head()

In [ ]:
df = df.dropna(subset=['cf'])

In [ ]:
len(df)

In [ ]:
# saving csv
from pathlib import Path  
filepath = Path('../../data/tidy/data-aggregation.csv', index = False)  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)
#df.to_csv('data-aggregation.csv', index = False)

In [ ]:
df