In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import os

In [31]:
#reading in ipynb files
inc = pd.read_csv('../../data/tidy/data-aggregation-income.csv')
trf = pd.read_csv('../../data/tidy/data-aggregation-trf.csv')
mod = pd.read_csv('../../data/tidy/data-aggregation-modeshares.csv')
pop = pd.read_csv('../../data/tidy/data-aggregation-pop.csv')
net = pd.read_csv('../../data/tidy/data-aggregation-networkstats.csv')
cfc = pd.read_csv('../../data/tidy/data-aggregation-carbonfootprint_msa.csv')

In [32]:
trf.head()

,Geographic Area Name,Year,Auto,Annual Excess Fuel Consumed,Annual Hours of Delay,Travel Time Index,Freeway,Truck-based Statistics,Arterial Street,msa
0,"Akron, OH",2014.0,298,6453,14470,1.11,5703.0,608,4460.0,NaN
1,"Albany-Schenectady, NY",2014.0,300,5172,13605,1.14,7273.0,690,5623.0,NaN
2,"Albuquerque, NM",2014.0,380,8950,18864,1.15,5500.0,909,7887.0,NaN
3,"Allentown, PA-NJ",2014.0,329,5627,13837,1.14,5599.0,513,5199.0,NaN
4,"Anchorage, AK",2014.0,137,2595,6193,1.17,1415.0,172,2240.0,NaN

In [33]:
net.head()

,Geographic Area Name,n,m,k_avg,edge_length_total,edge_length_avg,streets_per_node_avg,intersection_count,street_length_total,street_segment_count,street_length_avg,circuity_avg,self_loop_proportion,node_density_km,intersection_density_km,edge_density_km,street_density_km,builing_area_sqkm,area_sqkm
0,"Abilene, TX",14357,39401,5.488751,1.716897e+07,435.749497,2.881452,11912,8.925436e+06,20606,433.147439,1.067840,0.004465,2.012523,1.669790,2406.696840,1251.142264,7.048505,7133.829924
1,"Albany, GA",8466,22838,5.395228,9.545102e+06,417.948256,2.837468,6957,4.989593e+06,11954,417.399446,1.052833,0.002928,2.028965,1.667318,2287.583389,1195.808038,6.979580,4172.570196
2,"Akron, OH",26865,70900,5.278243,1.519199e+07,214.273426,2.756896,21200,8.039295e+06,36980,217.395754,1.056240,0.015089,11.231303,8.862967,6351.230011,3360.943838,14.307097,2391.975398
3,"Albany-Lebanon, OR",7132,17906,5.021312,8.280294e+06,462.431276,2.568144,5101,4.225439e+06,9147,461.948061,1.150205,0.005466,1.193324,0.853498,1385.456359,706.999160,7.519705,5976.582645
4,"Albany-Schenectady-Troy, NY",36977,96867,5.239311,2.787244e+07,287.739291,2.755794,30254,1.455542e+07,50900,285.961192,1.091565,0.033320,4.962653,4.060365,3740.737967,1953.471821,41.455466,7451.054339

In [34]:
inc.head()

,Geographic Area Name,Total!!Estimate!!Households,Median income (dollars)!!Estimate!!Households,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!15 to 24 years,Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!15 to 24 years,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!25 to 44 years,Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!25 to 44 years,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!45 to 64 years,Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!45 to 64 years,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!65 years and over,Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!65 years and over
0,"Abilene, TX",60343,44249,8.9,23489,31.8,50304,34.9,54749,24.4,35902
1,"Aguadilla-Isabela, PR",109620,15681,1.9,6603,27.6,16458,39.8,17419,30.7,14014
2,"Akron, OH",281752,50776,5.2,19511,30.0,56281,40.9,62220,23.9,37709
3,"Albany, GA",58250,36805,4.8,14867,32.8,36729,39.9,45370,22.5,30910
4,"Albany, OR",44942,44965,4.9,21652,29.8,50436,38.3,55601,26.9,36414

In [35]:
df = inc.merge(mod, left_on='Geographic Area Name', right_on='Geographic Area Name', how='left')

In [36]:
df = df.merge(pop, left_on='Geographic Area Name', right_on='Geographic Area Name', how='left')

In [37]:
df = df.merge(trf, left_on='Geographic Area Name', right_on='Geographic Area Name', how='left')

In [38]:
df.head()

,Geographic Area Name,Total!!Estimate!!Households,Median income (dollars)!!Estimate!!Households,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!15 to 24 years,Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!15 to 24 years,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!25 to 44 years,Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!25 to 44 years,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!45 to 64 years,Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!45 to 64 years,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!65 years and over,...,Unemployment rate!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level,Year,Auto,Annual Excess Fuel Consumed,Annual Hours of Delay,Travel Time Index,Freeway,Truck-based Statistics,Arterial Street,msa
0,"Abilene, TX",60343,44249,8.9,23489,31.8,50304,34.9,54749,24.4,...,19.6,2014.0,62.0,788.0,1694.0,1.06,NaN,93.0,NaN,NaN
1,"Aguadilla-Isabela, PR",109620,15681,1.9,6603,27.6,16458,39.8,17419,30.7,...,44.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Akron, OH",281752,50776,5.2,19511,30.0,56281,40.9,62220,23.9,...,33.3,2014.0,298.0,6453.0,14470.0,1.11,5703.0,608.0,4460.0,NaN
3,"Albany, GA",58250,36805,4.8,14867,32.8,36729,39.9,45370,22.5,...,41.1,2014.0,53.0,810.0,1752.0,1.07,NaN,93.0,NaN,NaN
4,"Albany, OR",44942,44965,4.9,21652,29.8,50436,38.3,55601,26.9,...,30.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df = df.merge(net, left_on='Geographic Area Name', right_on='Geographic Area Name', how='left')

In [40]:
df.head()

,Geographic Area Name,Total!!Estimate!!Households,Median income (dollars)!!Estimate!!Households,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!15 to 24 years,Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!15 to 24 years,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!25 to 44 years,Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!25 to 44 years,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!45 to 64 years,Median income (dollars)!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!45 to 64 years,Total!!Estimate!!HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER!!65 years and over,...,street_segment_count,street_length_avg,circuity_avg,self_loop_proportion,node_density_km,intersection_density_km,edge_density_km,street_density_km,builing_area_sqkm,area_sqkm
0,"Abilene, TX",60343,44249,8.9,23489,31.8,50304,34.9,54749,24.4,...,20606.0,433.147439,1.067840,0.004465,2.012523,1.669790,2406.696840,1251.142264,7.048505,7133.829924
1,"Aguadilla-Isabela, PR",109620,15681,1.9,6603,27.6,16458,39.8,17419,30.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Akron, OH",281752,50776,5.2,19511,30.0,56281,40.9,62220,23.9,...,36980.0,217.395754,1.056240,0.015089,11.231303,8.862967,6351.230011,3360.943838,14.307097,2391.975398
3,"Albany, GA",58250,36805,4.8,14867,32.8,36729,39.9,45370,22.5,...,11954.0,417.399446,1.052833,0.002928,2.028965,1.667318,2287.583389,1195.808038,6.979580,4172.570196
4,"Albany, OR",44942,44965,4.9,21652,29.8,50436,38.3,55601,26.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
cfc.head()

,msa,Population,electricity (kWh),Nat. Gas (cu.ft.),FUELOIL (gallons),Vehicle miles traveled,Transport (tCO2e/yr),Housing (tCO2e/yr),Food (tCO2e/yr),Goods (tCO2e/yr),Services (tCO2e/yr),Total Household Carbon Footprint (tCO2e/yr),Households,Total County Carbon Footprint (tCO2e/yr)
0,"Abilene, TX",238153,92962.405965,277549.286226,220.478974,192265.733198,127.925319,114.247769,59.950596,35.374706,38.148590,375.646981,100690.0,4.649098e+06
1,"Akron, OH",796346,54339.405962,290058.947004,124.833129,115371.753755,81.175493,68.261077,38.804731,29.043056,33.000838,259.438114,227621.0,1.181086e+07
2,"Albany, GA",131415,57568.441526,177636.355916,45.432009,115472.584515,77.055431,72.434746,37.265216,22.027666,23.768771,232.551830,54985.0,2.485983e+06
3,"Albany-Schenectady-Troy, NY",852814,44665.027903,285972.599847,1181.765702,125086.186971,87.018401,69.022994,43.259641,30.563655,34.293129,264.157819,407208.0,1.776977e+07
4,"Albuquerque, NM",729083,49890.513214,147251.735865,4.024810,101942.760602,68.251176,54.194828,33.245009,19.662288,21.267166,196.620466,305713.0,1.453071e+07

In [41]:
df = df.merge(cfc, left_on='Geographic Area Name', right_on='Geographic Area Name', how='left')

KeyError: 'Geographic Area Name'

In [ ]:
### Create empty dataframe with ACS MSA names as index:
#ms_df = pd.DataFrame(index = mods_df.index)

In [ ]:
# setting the path for joining multiple files
#files = os.path.join('../csv', '*.csv')

# list of merged files returned
#files = glob.glob(files)

# joining files with concat and read_csv
#df = pd.concat(map(pd.read_csv, files), ignore_index=True)
#print(df)

In [28]:
# merging csv files based on MSA
#output1 = ems1.merge(ems2, on=["Geographic Area Name"])
#output2 = pd.merge(inc, trf, on= 'Geographic Area Name', how= 'inner')
#output3 = pd.merge(ems3, data4, on= 'NAME', how= 'inner')

In [29]:
# saving csv
from pathlib import Path  
filepath = Path('../../data/tidy/data-aggregation.csv', index = False)  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)
#df.to_csv('data-aggregation.csv', index = False)