In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
### Data input

inc_df = pd.read_csv('../../data/raw/ACSST5Y2019.S1903-Data.csv', skiprows = 1) # median income

In [3]:
len(inc_df)

938

In [4]:
inc_df.columns

Index(['Geography', 'Geographic Area Name',
       'Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households',
       'Margin of Error!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households',
       'Annotation of Margin of Error!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households',
       'Annotation of Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households',
       'Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!White',
       'Margin of Error!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!White',
       'Annotation of Margin of Error!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!White',
       'Annotation of Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!White',
       ...
       'Annotation of Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder',
       'Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Living alone',
       'Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Living alone',
       'Annotation of Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Living alone',
       'Annotation of Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Living alone',
       'Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Not living alone',
       'Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Not living alone',
       'Annotation of Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Not living alone',
       'Annotation of Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Not living alone',
       'Unnamed: 482'],
      dtype='object', length=483)

In [5]:
inc_df.columns = inc_df.columns.str.replace('HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!', '')

In [6]:
inc_df.columns

Index(['Geography', 'Geographic Area Name', 'Estimate!!Number!!Households',
       'Margin of Error!!Number!!Households',
       'Annotation of Margin of Error!!Number!!Households',
       'Annotation of Estimate!!Number!!Households',
       'Estimate!!Number!!Households!!One race--!!White',
       'Margin of Error!!Number!!Households!!One race--!!White',
       'Annotation of Margin of Error!!Number!!Households!!One race--!!White',
       'Annotation of Estimate!!Number!!Households!!One race--!!White',
       ...
       'Annotation of Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder',
       'Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Living alone',
       'Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Living alone',
       'Annotation of Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Living alone',
       'Annotation of Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Living alone',
       'Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Not living alone',
       'Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Not living alone',
       'Annotation of Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Not living alone',
       'Annotation of Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Not living alone',
       'Unnamed: 482'],
      dtype='object', length=483)

In [7]:
inc_df.head()

,Geography,Geographic Area Name,Estimate!!Number!!Households,Margin of Error!!Number!!Households,Annotation of Margin of Error!!Number!!Households,Annotation of Estimate!!Number!!Households,Estimate!!Number!!Households!!One race--!!White,Margin of Error!!Number!!Households!!One race--!!White,Annotation of Margin of Error!!Number!!Households!!One race--!!White,Annotation of Estimate!!Number!!Households!!One race--!!White,...,Annotation of Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder,Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Living alone,Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Living alone,Annotation of Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Living alone,Annotation of Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Living alone,Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Not living alone,Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Not living alone,Annotation of Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Not living alone,Annotation of Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Not living alone,Unnamed: 482
0,310M500US10100,"Aberdeen, SD Micro Area",17849,325,NaN,NaN,16279,348,NaN,NaN,...,NaN,38985,4622,NaN,NaN,68807,10032,NaN,NaN,NaN
1,310M500US10140,"Aberdeen, WA Micro Area",28722,648,NaN,NaN,26098,579,NaN,NaN,...,NaN,26304,4215,NaN,NaN,57794,16549,NaN,NaN,NaN
2,310M500US10180,"Abilene, TX Metro Area",60931,912,NaN,NaN,50460,966,NaN,NaN,...,NaN,28152,2845,NaN,NaN,48587,9989,NaN,NaN,NaN
3,310M500US10220,"Ada, OK Micro Area",14278,242,NaN,NaN,10419,248,NaN,NaN,...,NaN,26970,4518,NaN,NaN,44615,14907,NaN,NaN,NaN
4,310M500US10300,"Adrian, MI Micro Area",38345,523,NaN,NaN,36806,527,NaN,NaN,...,NaN,34943,2036,NaN,NaN,59512,8154,NaN,NaN,NaN

In [9]:
# #pop_df.loc[: , (pop_df != 'Margin of Error').all()]
# filtered_cols = [col for col in inc_df.columns if 'Margin of Error' not in col]
# filtered_cols = [col for col in filtered_cols if 'Mean' not in col]
# filtered_cols = [col for col in filtered_cols if 'id' not in col]
# filtered_cols = [col for col in filtered_cols if 'Percent' not in col]
# filtered_cols = [col for col in filtered_cols if 'PERCENT' not in col]
# filtered_cols = [col for col in filtered_cols if 'Number' not in col]
# filtered_cols = [col for col in filtered_cols if 'Annotation' not in col]
# filtered_cols = [col for col in filtered_cols if 'White' not in col]
# filtered_cols = [col for col in filtered_cols if 'race' not in col]
# filtered_cols = [col for col in filtered_cols if 'Female' not in col]
# filtered_cols = [col for col in filtered_cols if 'Male' not in col]
# filtered_cols = [col for col in filtered_cols if 'Families' not in col]
# filtered_cols = [col for col in filtered_cols if 'Nonfamily' not in col]
# filtered_cols = [col for col in filtered_cols if 'Unnamed' not in col]
# filtered_cols = [col for col in filtered_cols if 'Geography' not in col]
# filtered_cols = [col for col in filtered_cols if 'AGE' not in col]
# #filtered_cols = [col for col in filtered_cols if 'Annotation' in col]
# filtered_cols
#inc_df = inc_df.filter(filtered_cols)
df = inc_df[['Geographic Area Name','Estimate!!Median income (dollars)!!Households', 'Estimate!!Number!!Households']]

In [10]:
df.head()

,Geographic Area Name,Estimate!!Median income (dollars)!!Households,Estimate!!Number!!Households
0,"Aberdeen, SD Micro Area",59270,17849
1,"Aberdeen, WA Micro Area",51240,28722
2,"Abilene, TX Metro Area",52511,60931
3,"Ada, OK Micro Area",50392,14278
4,"Adrian, MI Micro Area",55450,38345

In [15]:
df = df.set_index('Geographic Area Name')

In [16]:
df.index.name = 'msa'

In [17]:
df = df.filter(like="Metro Area", axis = 0)
df.index = df.index.str.replace(' Metro Area', '')

In [18]:
len(df)

392

In [13]:
# def tidy_acs_df(df):
#     #....
#     return(df)

In [14]:
#mods_df = tidy_acs_df(pop_df)

In [15]:
#inc_df = tidy_acs_df(inc_df)

In [19]:
df.head()

,Estimate!!Median income (dollars)!!Households,Estimate!!Number!!Households
msa,,
"Abilene, TX",52511,60931
"Aguadilla-Isabela, PR",16470,109248
"Akron, OH",57285,286543
"Albany, GA",44844,55714
"Albany-Lebanon, OR",55893,47762

In [20]:
df = df.rename(columns = {"Estimate!!Median income (dollars)!!Households": "med_hh_inc_dol"})
df = df.rename(columns = {"Estimate!!Number!!Households": "households"})

In [21]:
df.head()

                       med_hh_inc_dol  households
msa
Abilene, TX                     52511       60931
Aguadilla-Isabela, PR           16470      109248
Akron, OH                       57285      286543
Albany, GA                      44844       55714
Albany-Lebanon, OR              55893       47762

In [19]:
#med_income = inc_df['Estimate!!Median income (dollars)!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households']

In [20]:
#inc_df.to_csv('data-aggregation-income.csv', index = False)

In [22]:
from pathlib import Path  
filepath = Path('../../data/tidy/asc19-hh-income.csv', index = False)

In [23]:
filepath.parent.mkdir(parents=True, exist_ok=True)

In [24]:
#med_income = inc_df['Estimate!!Median income (dollars)!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households']
df.to_csv(filepath)
#inc_df.to_csv('data-aggregation-income.csv', index = False)