In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
### Data input

ems1_df = pd.read_csv('../../data/raw/waqi-covid19-airqualitydata-2019Q1.csv', skiprows = 4) # emissions
ems2_df = pd.read_csv('../../data/raw/waqi-covid19-airqualitydata-2019Q2.csv', skiprows = 4)
ems3_df = pd.read_csv('../../data/raw/waqi-covid19-airqualitydata-2019Q3.csv', skiprows = 4)
ems4_df = pd.read_csv('../../data/raw/waqi-covid19-airqualitydata-2019Q4.csv', skiprows = 4)

In [3]:
len(ems1_df)

491161

In [4]:
ems1_df.columns

Index(['Date', 'Country', 'City', 'Specie', 'count', 'min', 'max', 'median',
       'variance'],
      dtype='object')

In [5]:
ems1_df.head()

        Date Country       City Specie  count    min    max  median  variance
0  1/16/2019      AE  Abu Dhabi   pm10     24   86.0   99.0    97.0    179.40
1  1/22/2019      AE  Abu Dhabi   pm10     24   51.0   57.0    55.0     23.75
2  1/26/2019      AE  Abu Dhabi   pm10     24  136.0  173.0   160.0    941.96
3   1/7/2019      AE  Abu Dhabi   pm10     24   60.0   91.0    72.0   1006.88
4  1/10/2019      AE  Abu Dhabi   pm10     24   82.0   93.0    87.0     57.97

In [6]:
ems1_df = ems1_df.rename(columns={"City": "msa"})

In [7]:
ems1_df = ems1_df.set_index('msa')
#ems1_df.index = ems1_df.index.str.replace(' ', ', ')
ems1_df = ems1_df[ems1_df['Date'].str.contains('2019')]

In [8]:
ems1_df = ems1_df[ems1_df['Country'].str.contains('US')]
ems1_df

,Date,Country,Specie,count,min,max,median,variance
msa,,,,,,,,
Oklahoma City,2/9/2019,US,wind-speed,96,0.2,10.0,4.7,61.43
Oklahoma City,2/18/2019,US,wind-speed,96,4.5,11.1,7.0,24.49
Oklahoma City,3/6/2019,US,wind-speed,96,0.2,15.1,5.8,176.15
Oklahoma City,3/19/2019,US,wind-speed,90,0.1,14.5,5.1,120.36
Oklahoma City,3/23/2019,US,wind-speed,96,0.2,16.2,5.7,138.44
...,...,...,...,...,...,...,...,...
Fort Worth,3/9/2019,US,o3,23,3.2,37.6,26.4,1062.93
Fort Worth,1/26/2019,US,o3,23,5.6,31.2,12.1,840.15
Fort Worth,1/28/2019,US,o3,24,3.2,28.9,20.0,684.37
Fort Worth,1/29/2019,US,o3,24,0.8,30.4,20.0,816.44
Fort Worth,3/26/2019,US,o3,24,4.0,39.2,24.1,1339.56

In [9]:
ems2_df.columns

Index(['Date', 'Country', 'City', 'Specie', 'count', 'min', 'max', 'median',
       'variance'],
      dtype='object')

In [10]:
ems2_df = ems2_df.rename(columns={"City": "msa"})

In [11]:
ems2_df = ems2_df.set_index('msa')
ems2_df = ems2_df[ems2_df['Date'].str.contains('2019')]
ems2_df = ems2_df[ems2_df['Country'].str.contains('US')]
ems2_df

,Date,Country,Specie,count,min,max,median,variance
msa,,,,,,,,
Oklahoma City,4/9/2019,US,pm25,96,18.0,89.0,37.0,1414.32
Oklahoma City,4/19/2019,US,pm25,95,10.0,48.0,14.0,438.07
Oklahoma City,5/1/2019,US,pm25,96,8.0,52.0,29.0,1075.66
Oklahoma City,4/6/2019,US,pm25,96,12.0,59.0,26.0,2604.07
Oklahoma City,4/16/2019,US,pm25,96,23.0,45.0,28.0,137.70
...,...,...,...,...,...,...,...,...
Fort Worth,4/26/2019,US,wind-speed,43,0.1,5.6,2.2,21.72
Fort Worth,5/10/2019,US,wind-speed,47,0.1,7.7,2.1,46.86
Fort Worth,5/31/2019,US,wind-speed,34,0.1,4.5,1.5,8.78
Fort Worth,6/27/2019,US,wind-speed,47,0.2,5.6,1.7,13.79
Fort Worth,6/28/2019,US,wind-speed,39,0.2,5.7,2.0,19.82

In [12]:
ems3_df.head()

         Date Country    City Specie  count   min   max  median  variance
0  2019-08-20      SK  Košice    dew     20  15.0  18.5    17.0      9.94
1  2019-08-22      SK  Košice    dew     19  11.0  14.5    13.0     11.70
2  2019-09-20      SK  Košice    dew     24  -0.5   4.5     2.5     21.52
3  2019-09-27      SK  Košice    dew     23   8.0  12.5    11.5     28.22
4  2019-10-01      SK  Košice    dew     72   4.5   8.0     7.0     12.84

In [13]:
ems3_df = ems3_df.rename(columns={"City": "msa"})

In [14]:
ems3_df = ems3_df.set_index('msa')

In [15]:
ems3_df = ems3_df[ems3_df['Date'].str.contains('2019')]
ems3_df = ems3_df[ems3_df['Country'].str.contains('US')]
ems3_df

,Date,Country,Specie,count,min,max,median,variance
msa,,,,,,,,
Oklahoma City,2019-08-18,US,wind-speed,86,0.1,13.2,6.1,106.25
Oklahoma City,2019-08-20,US,wind-speed,72,1.0,8.5,4.6,42.34
Oklahoma City,2019-08-22,US,wind-speed,71,0.2,11.8,3.3,80.49
Oklahoma City,2019-09-13,US,wind-speed,87,0.1,6.8,1.7,22.76
Oklahoma City,2019-10-04,US,wind-speed,91,0.1,7.2,3.0,38.29
...,...,...,...,...,...,...,...,...
Fort Worth,2019-07-17,US,wind-speed,43,0.1,7.2,3.0,27.81
Fort Worth,2019-07-22,US,wind-speed,36,0.6,7.0,3.0,28.88
Fort Worth,2019-08-18,US,wind-speed,39,0.1,5.5,2.2,18.76
Fort Worth,2019-09-09,US,wind-speed,46,0.1,6.0,2.5,17.98
Fort Worth,2019-10-06,US,wind-speed,48,0.5,10.7,3.0,54.56

In [16]:
ems4_df = ems4_df.rename(columns={"City": "msa"})

In [17]:
ems4_df = ems4_df.set_index('msa')

In [18]:
ems4_df = ems4_df[ems4_df['Date'].str.contains('2019')]
ems4_df = ems4_df[ems4_df['Country'].str.contains('US')]
ems4_df

,Date,Country,Specie,count,min,max,median,variance
msa,,,,,,,,
Oklahoma City,2019-12-25,US,wind speed,95,0.4,14.2,8.6,145.27
Oklahoma City,2019-12-26,US,wind speed,76,0.1,9.6,4.0,63.17
Oklahoma City,2019-12-27,US,wind speed,94,0.2,8.0,4.1,51.56
Oklahoma City,2019-12-28,US,wind speed,58,4.7,19.0,11.2,102.95
Oklahoma City,2019-10-10,US,dew,43,-0.3,22.0,8.0,555.50
...,...,...,...,...,...,...,...,...
Fort Worth,2019-12-08,US,wind-gust,22,0.3,18.8,7.5,264.06
Fort Worth,2019-12-25,US,wind speed,23,0.1,4.1,2.5,14.08
Fort Worth,2019-12-26,US,wind speed,17,0.1,2.1,1.0,3.61
Fort Worth,2019-12-27,US,wind speed,23,0.1,5.1,1.8,22.23
Fort Worth,2019-12-28,US,wind speed,11,0.1,2.0,0.7,3.80

In [19]:
#len(ems3_df.City.unique())

In [20]:
#ems1_df.to_csv('data-aggregation-emissions1.csv', index = False)
from pathlib import Path  
filepath = Path('../csv/data-aggregation-emissions1.csv', index = False)  
filepath.parent.mkdir(parents=True, exist_ok=True)  
ems1_df.to_csv(filepath)

In [21]:
#ems2_df.to_csv('data-aggregation-emissions2.csv', index = False)
from pathlib import Path  
filepath = Path('../csv/data-aggregation-emissions2.csv', index = False)  
filepath.parent.mkdir(parents=True, exist_ok=True)  
ems2_df.to_csv(filepath)

In [22]:
#ems3_df.to_csv('data-aggregation-emissions3.csv', index = False)
from pathlib import Path  
filepath = Path('../csv/data-aggregation-emissions3.csv', index = False)  
filepath.parent.mkdir(parents=True, exist_ok=True)  
ems3_df.to_csv(filepath)

In [23]:
#ems4_df.to_csv('data-aggregation-emissions4.csv', index = False)
from pathlib import Path  
filepath = Path('../csv/data-aggregation-emissions4.csv', index = False)  
filepath.parent.mkdir(parents=True, exist_ok=True)  
ems4_df.to_csv(filepath)